asgiref==3.11.1
beautifulsoup4==4.14.3
Django==5.2
django-bootstrap4==26.1
django-stubs==6.0.2
django-stubs-ext==6.0.2
gunicorn==25.3.0
packaging==26.1
pillow==12.2.0
soupsieve==2.8.3
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2025.3
